In [40]:
#importing packages

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import style

plt.style.use('ggplot')

In [41]:
#IMPORTING AND CLEANING DATA

# read data
df = pd.read_csv("dataset.txt")

# checking shape and data types of the data
print(df.shape, "\n")
print(df.dtypes, "\n")

# checking numeric columns
df_numeric = df.select_dtypes(include=[np.number])
numeric_cols = df_numeric.columns.values
print("The column with numeric values include:", numeric_cols, "\n")

# checking non-numeric columns
df_non_numeric = df.select_dtypes(exclude=[np.number])
non_numeric_cols = df_non_numeric.columns.values
print("The columns and non-numeric values include:", non_numeric_cols, "\n")

#viewing missing data via percentage list
cols = df.columns[:]
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    
# ensuring data consistency
df['Name'] = df['Name'].str.lower()
df['Author'] = df['Author'].str.lower()
df['Genre'] = df['Genre'].str.lower()

# removing duplicate data
df_dedupped = df.drop_duplicates()
print(df.shape, "\n")
print(df_dedupped.shape, "\n")

(550, 7)

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

The column with numeric values include: ['User Rating' 'Reviews' 'Price' 'Year']

The columns and non-numeric values include: ['Name' 'Author' 'Genre']

Name - 0.0%
Author - 0.0%
User Rating - 0.0%
Reviews - 0.0%
Price - 0.0%
Year - 0.0%
Genre - 0.0%
(550, 7)

(550, 7)

In [42]:
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-day green smoothie cleanse,jj smith,4.7,17350,8,2016,non fiction
1,11/22/63: a novel,stephen king,4.6,2052,22,2011,fiction
2,12 rules for life: an antidote to chaos,jordan b. peterson,4.7,18979,15,2018,non fiction
3,1984 (signet classics),george orwell,4.7,21424,6,2017,fiction
4,"5,000 awesome facts (about everything!) (natio...",national geographic kids,4.8,7665,12,2019,non fiction
...,...,...,...,...,...,...,...
545,wrecking ball (diary of a wimpy kid book 14),jeff kinney,4.9,9413,8,2019,fiction
546,you are a badass: how to stop doubting your gr...,jen sincero,4.7,14331,8,2016,non fiction
547,you are a badass: how to stop doubting your gr...,jen sincero,4.7,14331,8,2017,non fiction
548,you are a badass: how to stop doubting your gr...,jen sincero,4.7,14331,8,2018,non fiction
549,you are a badass: how to stop doubting your gr...,jen sincero,4.7,14331,8,2019,non fiction

In [ ]:
#Visualizing the best selling books of the decade.

In [ ]:
#Visualizing The percentage of fiction to non-fiction.

In [ ]:
#VISUALIZING TRENDS OVER THE YEARS

In [ ]:
#Visualizing Top 10 Authors according to reviews.